@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Heroes And Villains</h1>
    <p class="lead">Applications that allos you to create your favorite MetaHuman,Teams,and Arching.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About Meta Human</h2>
        <p>
            A metahuman is a human with superpowers. The term is roughly synonymous with both mutant and mutate in the.Weather they become a villain or hero is the their choice.
        </p>
        <p><a class="btn btn-default" href="https://dc.fandom.com/wiki/Metahumans">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Team</h2>
        <p>A team is a group of individuals working together to achieve their goal, in this case metahuman to take out a stronger meta human.</p>
        <p><a class="btn btn-default" href="https://www.marvel.com/teams-and-groups">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Arching </h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>